@media only screen and (max-width : 768px){

  .cachorroGato{
    width: 330px !important;
    height: 400px !important;
    margin-left: 23px !important;
  }
  
  
  .pets{
    width: 450px !important;
    height: 430px !important;
    margin-right: -38px !important;
  }

  .preguiça{
    width: 326px !important;
    height: 430px !important;
    margin-bottom: 20px !important;
  }

  .macaco{
    width: 326px !important;
    height: 400px !important;
    margin-bottom: 50px !important;
  }

  footer{
    margin-bottom: 99px !important;
  }

  .fim{
    bottom: 5px !important;
  }

}
  
   /* AQUI ACABA O MEDIA QUERY */


body{
 
    background-color:#ffee00;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

header{

    background-color: #1a1a1a;
    text-align: center;
    color: #ffee00;
    display: inline-block;
    position: relative;
    width: 100%;
    font-family: 'DynaPuff', cursive;
    padding-bottom: 30px;
}

.span{
    color: rgb(255, 255, 255);
    font-family: 'Lexend Deca', sans-serif;
}

.comercial{
  text-align: center;
  font-family: 'DynaPuff', cursive;
  padding-bottom: 20px;
  color:  #1a1a1a;
  padding-top: 40px;
  width: 100%;
}

.painel{
    text-align: center;
    background-color: #1a1a1a;
    margin-top: 7%;
    margin-bottom: 7%;
    padding-top: 100px;
    padding-bottom: 90px;
    width: 100%;
}

input{

    border-radius: 20px;
    border-color:  #818181;
    border-width: 4px;
    border-style: solid;
    padding-top: 13px;
    padding: 13px 1px;
    background-color: #ffee00;
    cursor: pointer;
    font-weight: bold;
    color: #1a1a1a;
    text-decoration: none;
    text-align: center;
    position: relative; 
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'DynaPuff', cursive;
    
}

button{
    background-color:  #ffee00;
    color: #1a1a1a;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 25px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 30px;
    margin-left: 2.5%;
    font-family: 'DynaPuff', cursive;
   
    
  }
  
  button:hover{
  background-color: transparent;
  border: 2px solid #ffee00;
  color: white;
  cursor: pointer;
  transform: scale(1.2);
  }

  .cachorroGato{
    float: left;
    width: 400px;
    height: 450px;
    margin-left: 25px;
  }
  

  .pets{
    float: right;
    width: 400px;
    height: 400px;

  }

  #resultadosCadastro{
    color: #ffee00;
    font-family: 'DynaPuff', cursive;
    margin-top: 60px;
    font-size: 25px;
    text-align: center;
  }

  #resultadosConsulta{
    color: #1a1a1a;
    font-family: 'DynaPuff', cursive;
    margin-top: 60px;
    font-size: 25px;
    text-align: center;
  }

  .consulta{
    text-align: center;
    width: 100%;
  }

#inputConsulta{
    border-radius: 20px;
    border-color:  #818181;
    border-width: 4px;
    border-style: solid;
    padding-top: 13px;
    padding: 13px 1px;
    background-color: #1a1a1a;
    cursor: pointer;
    font-weight: bold;
    color: #ffee00;
    text-decoration: none;
    text-align: center;
    position: relative; 
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'DynaPuff', cursive;
}

#buttonConsulta{
  background-color: #1a1a1a;
  color: #ffee00;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 25px;
  border-radius: 30px;
  transition: .4s;
  margin-top: 25px;
  margin-left: 1%;
  font-family: 'DynaPuff', cursive;

}

#buttonConsulta:hover{
  background-color: transparent;
  border: 2px solid #1a1a1a;
  color: #1a1a1a;
  cursor: pointer;
  transform: scale(1.2);
  }

  .macaco{
    float: left;
    width: 400px;
    height: 550px;
    margin-left: 25px;
  }
  

  .preguiça{
    float: right;
    width: 400px;
    height: 550px;
    margin-right: 25px;
  }


footer{
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 30%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: 'DynaPuff', cursive;
  }
  
  footer p:nth-child(1){
    font-size: 30px;
    color: #ffee00;
    margin-bottom: 20px;
    margin-top: 100px;
    font-weight: bold;
    font-family: 'DynaPuff', cursive;
  }
  
  footer p:nth-child(2){
    color: #ffee00;
    font-size: 17px;
    /* width: 500px; */
    text-align: center;
    line-height: 26px;
    font-family: 'DynaPuff', cursive;
  }
  
  .social{
    display: flex;
  }
  
  .social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #ffee00;
    border-radius: 50%;
    margin: 22px 10px;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 20px;
    font-family: 'DynaPuff', cursive;
  }
  
  .social a:hover{
    transform: scale(1.3);
    transition: .3s;
  }

  .fim{
    position: absolute;
    color: #ffee00;
    bottom: 35px;
    font-size: 14px;
    font-family: 'DynaPuff', cursive;
  }
  